emnist/
nn
neural_network
build/
CMakeFiles/
Makefile
CMakeCache.txt
cmake_install.cmake
__pycache__

unoptimized-serial-nn
optimized-serial-nn
parallel-omp-nn
parallel-cblas-nn
parallel-cuda-nn
nn-optimized-nn
